<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.bluesign">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <activity
        android:name=".MyActivity"
        android:screenOrientation="portrait" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FaceLoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.ResetActivity" />
        <activity android:name=".activities.RegisterFaceActivity" />
        <activity android:name=".activities.PinLoginActivity" />
        <activity android:name=".activities.StatisticsActivity" />
        <activity android:name=".activities.LectureCodeActivity" />
        <activity android:name=".activities.SettingsActivity"></activity>
    </application>

</manifest>